.mobile {
  display: none;
}
.desktop {
  display: flex;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .header {
    height: 80px;
  }
  .section {
    scroll-margin-top: 80px;
  }
  #icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100%;
    z-index: 12;
  }
  #icons img {
    height: 30px;
  }
  .nav__logo {
    height: fit-content;
  }
  .close,
  .active .open {
    display: none;
  }
  .active .close {
    display: block;
  }

  .nav__list {
    display: flex;
    width: 0px;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    gap: 5em;
    flex-direction: column;
    background: var(--color-beige-300);
    text-align: center;
    transition: 0.25s;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
  }
  nav.active .nav__list {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  .nav__link {
    font-size: 24px;
  }

  nav li {
    padding: 3px 0;
  }
  nav li:hover {
    background: var(--color-beige-300);
  }
  nav.active ul {
    right: 0;
  }

  #why,
  .measures__list,
  .expert,
  .expert:last-of-type,
  .series__header,
  .series,
  .footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article .grid {
    display: block;
  }
  .hero__grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: none;
    height: auto;
    padding: 0;
  }
  .hero__content {
    position: relative;
    grid-area: 1 / 1 / 4 / 13;
    padding: 1em;
    margin-bottom: 40%;
    border-radius: var(--radius-base);
    background: url("./assets/gazon-HP.png") center / cover no-repeat;
  }
  .hero__title {
    margin-bottom: 15%;
  }
  .hero__grid::before {
    all: unset;
  }
  .hero__content::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: var(--radius-base);
    background: linear-gradient(
        167deg,
        var(--color-blue-500) 0%,
        #ffffff83 100%
      )
      0% 0% no-repeat padding-box;
    opacity: 0.67;
  }
  .hero__highlight {
    grid-area: 2 / 1 / 18 / 13;
    margin: 2em;
  }
  .series__header {
    flex-direction: column-reverse;
  }
  .expert,
  .expert:last-of-type {
    flex-direction: column-reverse;
    margin-bottom: 3em;
    overflow: hidden;
  }
  .expert__card {
    transform: unset;
  }
  .expert__text {
    max-width: 100%;
    border-radius: 0;
    background: transparent;
    font-size: 18px;
  }
  .expert {
    background-color: var(--color-blue-500);
    padding: 2%;
    border-radius: var(--radius-base);
  }
  .expert:has(.expert__author-name--blue) {
    background-color: var(--color-red);
  }

  .expert__card {
    border: none;
    background-color: transparent;
    padding: 2%;
  }

  .expert__card dl {
    max-width: 100%;
    text-align: center;
  }
  .expert__card:has(.expert__author-name) dl strong {
    color: var(--color-blue-300);
  }
  .expert__author-name {
    font: normal normal 900 clamp(18px, 1.04vw, 24px) Mattone;
    color: var(--color-white);
  }
  .expert__author-name--blue {
    font: normal normal 900 clamp(18px, 1.04vw, 24px) Mattone;
    color: var(--color-white);
  }
  .why__step {
    margin: 1em 0;
  }

  .plan-hero__grid {
    flex-wrap: wrap;
    justify-content: center;
  }
  .plan-hero aside {
    transform: none;
  }
  .footer {
    gap: 2em;
  }
  .footer > .social {
    flex-direction: row;
  }

  @keyframes parallax {
    0% {
      top: 0;
      left: 80%;
    }
    50% {
      top: -40%;
      rotate: -10deg;
    }
    100% {
      top: 100%;
      rotate: 45deg;
    }
  }
}
