h1 {
  font: italic normal 900 clamp(25px, 3.13vw, 72px) Avenir Next;
  margin: 0;
}

h2 {
  font: normal normal 900 clamp(19px, 2.14vw, 50px) Mattone;
}
h3,
dt {
  font: normal normal 900 clamp(16px, 1.15vw, 28px) Mattone;
}
h4 {
  font: normal normal 900 clamp(14px, 0.94vw, 22px) Avenir Next;
  margin: 1em 0;
}

h5 {
  font: normal normal 900 clamp(11px, 0.73vw, 18px) Avenir Next;
  margin: 1em 0;
}
dt {
  text-align: center;
  font: normal normal 900 clamp(16px, 1.15vw, 28px) Mattone;
  letter-spacing: 0px;
  color: #002956;
}
p {
  margin: 5px 0;
}
dl {
  text-align: center;
  width: 25%;
}
ul {
  list-style: none;
  padding: 0;
}

.plan-hero {
  background: transparent
    linear-gradient(
      69deg,
      var(--color-blue-300) 40%,
      var(--color-blue-100) 100%
    )
    0% 0%;
  padding: 5% 5% 0;
}
.plan-hero .hero__highlight {
  background-color: transparent;
  box-shadow: none;
}

.plan-hero__grid {
  display: flex;
}
.plan-hero__title {
  font-weight: 900;
  color: var(--color-white);
}
.plan-hero__subtitle {
  font: normal normal 700 clamp(18px, 1.93vw, 44px) Avenir Next;
  color: var(--color-white);
}
.plan-hero aside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -5em;
}
.plan-hero aside img {
  height: clamp(300px, 26.04vw, 600px);
  width: clamp(300px, 26.04vw, 600px);
}

.mesures-list {
  padding: 0 5%;
  margin-top: 4em;
}
li article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 10%;
  gap: 3%;
}
article li {
  list-style: inside;
}

article aside {
  background: #f8f8ed;
  border-radius: 30px;
  padding: 1% 3%;
  width: 60%;
}

article span {
  background: var(--color-blue-300);
  color: var(--color-white);
  border-radius: 18px;
  padding: 0.5em 1em;
  font: normal normal 900 clamp(9px, 0.57vw, 14px) Avenir Next;
}

article img {
  height: clamp(56px, 4.17vw, 96px);
}
article .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 2em;
}
article li,
article p {
  text-align: left;
  font: normal normal 500 clamp(11px, 0.73vw, 18px) Avenir Next;
  letter-spacing: 0px;
  color: #002956;
}

article footer {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 12px;
  text-align: end;
  font: italic normal 900 clamp(10px, 0.73vw, 18px) Avenir Next;
  letter-spacing: 0px;
  color: var(--color-red);
  text-transform: uppercase;
}
article footer a {
  padding-bottom: 0.5em;
  border-bottom: solid 3px var(--color-red);
}
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mesures-list > ul > li::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-blue-300) 40%,
    var(--color-white) 0%
  );
  background-size: 10px 10px;
  background-repeat: repeat-x;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-section img {
  width: 100vw;
}

@media (max-width: 768px) {
  li article {
    flex-direction: column;
    padding: 0;
    gap: 1em;
    margin: 3em 1em;
  }
  li article *:not(img):not(svg) {
    width: 100%;
  }
  article aside {
    padding: 5%;
  }
  .mesures-list {
    padding: 0;
    margin-top: 8em;
  }
  .hero__grid {
    gap: 0;
  }
  .plan-hero aside {
    position: relative;
    top: 15%;
  }
  .plan-hero {
    background: var(--color-blue-100);
  }
}
