/* touch : 100220261402*/
@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir-lt-pro-cufonfonts/Avenir-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir-lt-pro-cufonfonts/Avenir-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir-lt-pro-cufonfonts/Avenir-Black.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/avenir-lt-pro-cufonfonts/Avenir-Heavy.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mattone";
  src: url("./fonts/mattone/Mattone-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mattone";
  src: url("./fonts/mattone/Mattone-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mattone";
  src: url("./fonts/mattone/Mattone-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./fonts/consolas/Consolas-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./fonts/consolas/Consolas-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./fonts/consolas/Consolas-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
  --color-blue-100: #a3cbfd;
  --color-blue-300: #016dff;
  --color-blue-500: #002956;
  --color-blue-700: #041538;

  --color-beige-100: #f8f8ed;
  --color-beige-300: #f2e9da;

  --color-red: #e40038;
  --color-white: #ffffff;

  --radius-base: 16px;
}
html,
main {
  scroll-timeline: --main-timeline;

  scroll-behavior: smooth;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
dl,
dt,
dd {
  all: unset;
}

h1 {
  font-size: clamp(3.25rem, 3.7vw, 4.4375rem);
  font-weight: 500;
}
h2 {
  font: italic normal 900 clamp(2rem, 3.125vw, 3.75rem) Avenir Next;
  margin: 0;
}
h3 {
  font-weight: 600;
  font-size: clamp(2.25rem, 1.667vw, 2rem);
}
h4 {
  font: normal normal 900 clamp(18px, 1.15vw, 28px) Mattone;
}

p {
  font: normal normal 500 clamp(14px, 0.94vw, 22px) Avenir Next;
}
body {
  margin: 0;
  font-family: "Avenir Next", sans-serif;
  font-weight: 500;
  color: var(--color-blue-500);
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

/* Layout */

/* Header */
.header {
  position: sticky;
  top: 0;
  height: 121px;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 -3px 15px -15px var(--color-blue-300);
  z-index: 10;
}
nav,
.nav__list {
  height: 100%;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 1rem 2rem;
  margin: 0;
}
.nav__link {
  text-align: right;
  font-size: clamp(1rem, 1.1vw, 1.3125rem);
  font-weight: 900;
  letter-spacing: 0.42px;
  color: var(--color-blue-700);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.4s ease, background 0.4s ease;
}
nav.dark-zone .nav__link {
  color: #fff;
}
.nav__logo img {
  height: clamp(75px, 4.32vw, 85px);
}
.scroll-down {
  width: 64px;
  height: 64px;
  background: var(--color-white);
  border-radius: 999px;
  color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 7 / 3 / 8;
}

/* Hero */
.hero__grid {
  background: url("./assets/gazon-HP.png") center / cover no-repeat;
  margin: 2% 4%;
  border-radius: var(--radius-base);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 6fr auto 1fr;
  gap: 2rem;
  position: relative;
}

.hero__grid::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  border-radius: var(--radius-base);
  background: linear-gradient(167deg, var(--color-blue-500) 0%, #ffffff83 100%)
    0% 0% no-repeat padding-box;
  opacity: 0.67;
}

.hero__content {
  grid-area: 1 / 1 / 2 / 8;
}
.hero__grid > * {
  z-index: 1;
}
.hero__title {
  text-align: left;
  font: normal normal 500 clamp(25px, 3.7vw, 85px) Avenir Next;
  letter-spacing: 0px;
  line-height: 120%;
  color: var(--color-white);
}

.hero__highlight {
  background: var(--color-blue-300);
  color: var(--color-white);
  padding: 2rem 2rem 0;
  border-radius: var(--radius-base);
  height: fit-content;
  grid-area: 1 / 9 / 2 / 13;
}
.hero__highlight-title {
  font: normal normal 900 clamp(24px, 1.77vw, 41px) Avenir Next;
  font-size: clamp(1.375rem, 1.77vw, 2.125rem);
  font-weight: 900;
}
.hero__highlight-footer {
  font: italic normal 700 clamp(16px, 1.15vw, 28px) Consolas;
}

/* Sections */
.section {
  padding: 4rem 2rem;
  position: relative;
  scroll-margin-top: 121px;
}

.section--beige {
  background: var(--color-beige-300);
}

.section--blue {
  background: var(--color-blue-100);
}

.section--dark {
  background: var(--color-blue-500);
}

.section__title--white {
  color: var(--color-white);
}

/* Pourquoi agir */
#why {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 9%;
  padding: 5%;
  margin: 0 10%;
  margin-top: -8%;
  border-radius: var(--radius-base);
  background: transparent linear-gradient(180deg, #ffffff 0%, #f2e9da 100%) 0%
    0% no-repeat padding-box;
}

.why__content {
  position: relative;
  overflow: hidden;
  display: flex;
  background: var(--color-beige-300);
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  padding-top: calc((clamp(262px, 19.48vw, 450px) / 2) - 1em);
  margin-top: calc(-1 * (clamp(262px, 19.48vw, 450px) / 2));
}
.why__section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yann-roubert {
  height: clamp(262px, 19.48vw, 450px);
  margin: auto;
  z-index: 2;
}
.why__quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.why__quote figcaption {
  text-align: center;
  font-weight: 900;
  font-size: clamp(20px, 1.46vw, 34px);
  color: var(--color-blue-300);
}
.why__quote figcaption strong {
  text-align: center;
  font: normal normal 900 28px/28px Mattone;
  letter-spacing: 0px;
  color: var(--color-blue-500);
  text-transform: uppercase;
}

.why__step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  aspect-ratio: 16/9;
  background: var(--color-blue-500);
  color: var(--color-blue-100);
  border-radius: var(--radius-base);
  font-family: "Mattone";
  font-weight: 900;
  font-size: clamp(72px, 5.31vw, 122px);
}
.why__step::before {
  position: absolute;
  content: "LE CHIFFRE";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(6px, 0.47vw, 11px);
  font-weight: 500;
  border-radius: 99px;
  padding: 0 2em;
  margin: 1em;
  top: 10px;
  left: 10px;
  height: clamp(23px, 1.72vw, 40px);
  color: var(--color-white);
  background-color: var(--color-blue-100);
}
.why__media p,
.why__video p {
  font: italic normal 700 clamp(16px, 1.09vw, 26px) Consolas;
}
.why__video {
  margin-top: 4em;
}
.why__video video {
  max-width: 100%;
  border-radius: var(--radius-base);
}
.why__video div {
  max-width: 100%;
  padding: 21px;
  background: var(--color-blue-300);
  border-radius: 15px;
}
.why__content p {
  position: relative;
  z-index: 0;
  margin-top: -2.5em;
}
.why__content p::before,
.why__content p::after {
  position: relative;
  display: flex;
  content: '"';
  font: italic normal 900 200px / 82px Avenir Next;
  max-width: 100%;
  height: fit-content;
  color: var(--color-white);
  z-index: -1;
  justify-content: flex-start;
  transform: translate(-22%, 100%);
  opacity: 0.5;
}

.why__content p::after {
  justify-content: flex-end;

  transform: translate(15%, 50%);
}

/* Measures */
#plan {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
  scroll-margin-top: -50px;
}
#plan h2,
#series h2 {
  margin: 1em 0;
}

.white-ball {
  z-index: 0;
  padding: 0;
}
.white-ball img {
  max-width: 100%;
}

.measures {
  background: var(--color-beige-100);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25'  rx='16' ry='16' fill='none' stroke='%23016dff' stroke-width='2' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: var(--radius-base);
  padding: 3% 4%;
  margin: 0 5%;
}
.measures__title {
  font: normal normal 900 clamp(22px, 1.67vw, 38px) Mattone;
}
.measures__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  list-style: none;
  padding: 0;
}
.measure img {
  height: clamp(56px, 4.17vw, 96px);
}

.expert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}
.expert:last-of-type {
  flex-direction: row-reverse;
}
.experts .expert::before {
  position: absolute;
  left: 10%;
  content: " ";
  background-image: url("./assets/56e741a0.png");
  filter: blur(5px);
  background-size: cover;
  height: clamp(240px, 18.07vw, 420px);
  width: clamp(240px, 18.07vw, 420px);
  z-index: -1;
}
.experts .expert:last-of-type::before {
  left: 70%;
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .expert::before {
      animation: parallax linear;
      animation-timeline: scroll();
    }
  }
}

.expert__text {
  position: relative;
  padding: 0 2%;
  margin: 0;
  margin-right: -2%;
  z-index: 1;
  max-width: 40%;
  background-color: var(--color-blue-500);
  color: var(--color-white);
  border-radius: var(--radius-base);
  overflow: hidden;
}
.expert__text::before,
.expert__text::after {
  position: relative;
  display: flex;
  content: '"';
  font: italic normal 900 200px / 82px Avenir Next;
  max-width: 100%;
  height: 30px;
  color: var(--color-white);
  z-index: -1;
  justify-content: flex-start;
  transform: translate(-12%, 100%);
  opacity: 0.4;
}

.expert__text::after {
  justify-content: flex-end;
}

.expert__text--red {
  background-color: var(--color-red);
  margin-right: 0;
  margin-left: -2%;
}
.expert__card {
  border: solid 1px var(--color-blue-500);
  border-radius: var(--radius-base);
  background-color: var(--color-white);
  padding: 2%;
}

.expert__card,
dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expert__card dl {
  max-width: 80%;
  text-align: center;
}
.expert__author-name {
  font: normal normal 900 clamp(16px, 1.04vw, 24px) Mattone;
  color: var(--color-red);
}
.expert__author-name--blue {
  font: normal normal 900 clamp(16px, 1.04vw, 24px) Mattone;
  color: var(--color-blue-300);
}

.expert__card img {
  height: clamp(250px, 18.54vw, 430px);
}
/* Cards */
.card {
  background: var(--color-white);
  border-radius: var(--radius-base);
  padding: 2rem;
}

.rotate-left {
  transform: rotate(-1.5deg);
}
.rotate-right {
  transform: rotate(1.5deg);
}
.button {
  background: var(--color-blue-300);
  color: var(--color-beige-100);
  border-radius: 62px;
  padding: clamp(28px, 2.34vw, 54px);
  font: italic normal 900 clamp(14px, calc(0.5rem + 0.8vw), 30px) Avenir Next;
  margin: 40px;
  text-align: center;
  cursor: pointer;
}

/* Series */
#series {
  color: var(--color-white);
  background: linear-gradient(24deg, var(--color-blue-500) 0%, #000000 100%);
  padding-top: 0;
}
.series__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.series__header aside {
  display: flex;
}
.series__header img {
  height: clamp(260px, 32.29vw, 750px);
}
.img-tete {
  margin-top: -15%;
  height: clamp(260px, 33.85vw, 780px);
}
.series {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}
.episode__title {
  margin-bottom: 0;
}
.episode video {
  background-color: var(--color-white);
  padding: 0.5em;
}
.subtitle {
  font-size: clamp(26px, 1.93vw, 44px);
  font-weight: 500;
  margin: 0;
}
/* Footer */
.footer {
  background: var(--color-blue-300);
  color: var(--color-white);
  padding: 3rem;
  display: flex;
  gap: 10em;
  justify-content: center;
}
.footer p {
  margin: 0;
  font-weight: 300;
}
.footer > .social {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  font: normal normal bold 20px/26px Avenir Next;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes parallax {
  0% {
    top: 0;
    left: 0%;
  }
  50% {
    top: -10%;
    rotate: -10deg;
  }
  100% {
    top: 100%;
    rotate: 45deg;
  }
}
